html { 
    background: url(https://imgur.com/wwcrNRT.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

h1 {
    font-family: 'Text Me One', sans-serif;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    text-align: center;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
    clear: both;
}

.flex-grid {
    margin: 0 auto 10 auto;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.col-1 .col-2 .col-4 .col-6 {
    width: 100%;
}

#js-error {
    color: red;
}

.hidden {
    display: none;
}

form {
    display: inline;
    text-align: center;
}

input[type=text] {
    font-family: sans-serif;
    background-color: bisque;
}

input[type=submit] {
    font-family: sans-serif;
    background-color: bisque;
}

section {
    padding: 10px 20px 10px 20px;
    margin: 10px auto 10px auto;
    background-color: burlywood;
    text-align: center;
    border: 3px solid;
    border-color: bisque;
    border-radius: 10px;
}

a {
    color: brown;
}

@media only screen and (min-width: 840px) {
    .flex-grid {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .col-2 {
        flex: 2;
        margin: 0px 10px 0px 10px;
    }
    
    .col-1 {
        flex: 1;
    }
    
    .col-4 {
        width: 30%;
        text-align: center;
    }
    
    .col-6 {
        width: 50%;
        text-align: center;
    }
}